<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Airbnb Listings</h1>


    <table>
    <%   listings.forEach(listing=>{ %>
        <tr>
             <%= listing._id %>
             <b><%= listing.name %></b> 
            <br>        
            <b>Number Of Bedrooms: </b> <%= listing.bedrooms %>
            <br>  
            <b>Summary: </b> <%= listing.summary %>
            <br>  
            <b>Description: </b> <%= listing.description %>
            <br>  
            <b>Image Of Listing: </b> <%= listing.images.picture_url %>
            <br><br>
        </tr>
    <% }) %> 
    </table>
</body>
</html>